body, html {
  height: 100%;
  margin: 0;
}

h6 {
  margin: 0;
  color: rgb(216, 216, 216);
}

h1 {
  margin: 20px;
}

hr {
  margin: auto;
  width: 40%;
}

.bgimg {
  background-image: url('https://wallpapershome.com/images/pages/pic_h/6505.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Andale Mono, monospace";
  font-size: 40px;
}

.topleft {
  position: absolute;
  top: 0;
  padding: 20px;
}

.topleft img {
  width: 200px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#timer {
  color: rgb(216, 216, 216);
  margin: 5px;
}